@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100%;
    
    letter-spacing: 0.03em;
    line-height: 1;
    
}

.menu{
 display: flex;
 width: 100%;
 background-color: rgb(42, 42, 42);
 color: white;
 padding: 5px 0px ;
}

.menurelativo{
    width: 100%;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    font-family: candara;
    align-items: center;
    font-size: 15px;
}
li .reserva {
      text-decoration: none;
      color: white;
}

li .reserva:hover {
      color: red;
}
    
@media screen and (max-width: 600px) {
    .menurelativo{
    display:none;
    }
    }



/*-----------------menu----------------*/
#burger-menu{
    width: 27px;
    height: 27px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after{
    background: #CB1A0E;
    display: block;
    height: 4px; 
    position: absolute;
    transition: all 300ms ease;
}

#burger-menu span:before,
#burger-menu span:after{
    content: '';
}

#burger-menu span{
    right: 0px;
    top: 13px;
    width: 27px;
}

#burger-menu span:before{
    left: 0px;
    top: -10px;
    width: 16px;
}

#burger-menu span:after{
    left: 0px;
    top: 10px;
    width: 20px;
}

#burger-menu.close span{
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: #d5352e;
}


#burger-menu.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: #d5352e;
}

#burger-menu.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    visibility: hidden;
    transition: all 300ms ease; 
}

#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 100px;
    background: rgba(0,0,0,0.8);
}

#menu li{
    list-style: none;
    position: relative;
    width: 300px;
    margin: auto;
}

#menu li:hover{
    letter-spacing: 2px;
}

#menu li a{
    color: white;
    display: block;
    font-size: 32px;
    text-decoration: none;
    margin-bottom: 30px;
    position: relative;
    transition: all 300ms;
    
}

#menu li a:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms;
}


#menu li a:hover:before{
    opacity: 1;
    transform: scale(1);

}
/*------------boton--------------*/
.empieza-pedido{
    display: flex;
    justify-content: center;
    margin-top:30px;
}
.empieza-pedido .btn{
    
    padding: 15px 15px 13px;
    width: 100%;
    max-width: 300px;
}
.text-yellow {
    
    color: #fbe7c5;
}
.btn-round {
    border-radius: 25px;
}
.btn-red {
    background-color: #CB1A0E;
    color: #ffffff;
    border: solid 1px #CB1A0E;
}
.btn {
    display: inline-flex;
    padding: 1rem 2.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    text-decoration: none;
    
    letter-spacing: 0.7px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 100px;
}

/*-------------------cards--------------*/

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}
.container .card{
    width: 300px;
    height: 520px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 30px ;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 24px rgba(0, 0, 0, 0.5);
}

.container .card img{
    width: 300px;
    height: 430px;
}


.container .card h4{
    padding: 10px 0px 0px 0px;
    font-weight: 300;
}



.container .card a {
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
}
.empieza-reserva{
        justify-content: center;
    
}
.empieza-reserva .btn{
    font-size: 13px;
    padding: 5px 5px 3px;
    width: 100%;
    max-width: 200px;
}
.text-white {
    color: #fbe7c5;
}
.btn-po {
    border-radius: 10px;
}
.btn-rue {
    background-color: #CB1A0E;
    color: #ffff;
    border: solid 1px #CB1A0E;
}
.btn {
    display: inline-flex;
    padding: 1rem 2.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    text-decoration: none;
    letter-spacing: 0.7px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    
    border-radius: 100px;
}
footer{
    text-align: center;
    background-color: #000000;
    font-size: 20px;
    padding-top:1em ;
    text-indent: 3px;
    letter-spacing: 5px;
}
.icon{
    
    width: 40px;
    height:40px;
    padding: 0px 0px 10px 0px;
}






